<div class="container">
  <div class="row mb-5">
    <div class="col-12">
      <h1>{{ olympicCountry.country | titlecase }}</h1>
      <a routerLink="">retour</a>
    </div>
  </div>
  <div class="row mb-5">
    <div class="col-12 col-md-4">
      <div class="chart-fact">
        <h3 i18n>{{ 'Number of entries' }}</h3>
        <span>{{ participations.length }}</span>
      </div>
    </div>
    <div class="col-12 col-md-4">
      <div class="chart-fact">
        <h3 i18n>{{ 'Total number medals' }}</h3>
        <span>{{ getTotalMedals() }}</span>
      </div>
    </div>
    <div class="col-12 col-md-4">
      <div class="chart-fact">
        <h3 i18n>{{ 'Total number of athletes' }}</h3>
        <span>{{ getTotalAthtletes() }}</span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <app-olympic-country-line-chart [participations]="participations" />
    </div>
  </div>
</div>
