<div class="center-toolbar">
  <sl-button-group>
    <sl-button size="large" class="teal" (click)="onPanLeft();$event.stopPropagation();">
      <sl-icon name="arrow-left-circle" [title]="panLeftLabel"></sl-icon>
    </sl-button>
    <sl-button size="large" class="teal" (click)="onPanRight();$event.stopPropagation();">
      <sl-icon name="arrow-right-circle" [title]="panRightLabel"></sl-icon>
    </sl-button>
    <sl-button size="large" class="teal" (click)="onZoomIn();$event.stopPropagation();">
      <sl-icon name="zoom-in" [title]="zoomInLabel"></sl-icon>
    </sl-button>
    <sl-button size="large" class="teal" (click)="onZoomOut();$event.stopPropagation();">
      <sl-icon name="zoom-out" [title]="zoomOutLabel"></sl-icon>
    </sl-button>
    <sl-button size="large" class="teal" (click)="onResetZoom();$event.stopPropagation();">
      <sl-icon name="arrow-repeat" [title]="zoomResetLabel"></sl-icon>
    </sl-button>
  </sl-button-group>
</div>
<!--noformat-->
<apx-chart
  ngModel #chartComponent
  [chart]="chart"
  [colors]="colors"
  [dataLabels]="dataLabels"
  [grid]="grid"
  [labels]="labels"
  [legend]="legend"
  [series]="series"
  [stroke]="stroke"
  [tooltip]="tooltip"
  [yaxis]="yaxis"
  [xaxis]="xaxis"
/>
<!--noformat-->