<div class="center-toolbar">
  <sl-button-group>
    <sl-button (click)="onSortCountriesByMedals()">Sort by medals</sl-button>
    <sl-button (click)="onZoomIn();$event.stopPropagation();">Zoom In</sl-button>
    <sl-button (click)="onZoomOut();$event.stopPropagation();">Zoom Out</sl-button>
  </sl-button-group>
</div>
<!--noformat-->
<apx-chart
  class="olympic-pie-chart"
  [chart]="chartOptions.chart"
  [colors]="chartOptions.colors"
  [dataLabels]="chartOptions.dataLabels"
  [noData]="chartOptions.noData"
  [labels]="chartOptions.labels"
  [legend]="chartOptions.legend"
  [plotOptions]="chartOptions.plotOptions"
  [series]="chartOptions.series"
  [responsive]="chartOptions.responsive"
  [yaxis]="chartOptions.yaxis"
/>
<!--noformat-->