.chart-fact {
  width: fit-content;
  min-height: 5rem;
  padding: 1rem;
  border: 0.2rem solid var(--sl-color-teal-700);
  border-radius: 1rem;
  text-align: center;

  h3 {
    margin-bottom: 0.5rem;
    color: var(--sl-color-gray-500);
    font-size: var(--sl-font-size-large);
    font-weight: 400;
  }

  span {
    font-size: var(--sl-font-size-large);
    font-weight: var(--sl-font-weight-bold);
  }
}
